.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.3rem;
  margin: 2rem 0;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 700px) {
    grid-template-columns: minmax(280px, 380px);
    justify-content: center;
    grid-gap: 2rem;
  }
}
