@import '~scss/variables';
@import '~scss/mixins';

.gridItem {
  @include flex(center, $direction: column);
  @include defaultBoxShadow(0, 3px, 3px);
  height: 400px;
  color: $white;

  .Image {
    @include heightWidth(300px, 100%);
    background: rgb(201, 198, 198);
  }

  .Heading {
    @include flex(center, center);
    @include heightWidth(100px, 100%);

    span {
      @include heightWidth(40px, 200px);
      display: block;
      background: rgb(201, 198, 198);
    }
  }

}
